*{
    margin: 0;
    padding: 0;
}

:root{ 
/*Colors*/
/*Primary*/
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
/*Neutral*/
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Red-Had : 'Red Hat Display', sans-serif;
}

html {
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.principal{
    background-color: var(--Pale-blue);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    max-width: 375px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}

.brand-uno{
    background-image: url(../images/illustration-hero.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;   
    height: 200px; 
    border-radius: 10px 10px 0 0;
   
}

.card-info{
    padding: 15px 20px;
    text-align: center;
}

.card-title{
    color: var(--Dark-blue) ;
    font-weight: 900;
    margin-bottom: 15px;
}

.card-parrafo{
    color: var(--Desaturated-blue);
    margin: 20px 0;
    line-height: 1.6rem;
}

.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--Very-pale-blue);
    border-radius: 10px;
    margin: 20px 0;
}

.contenido-interno{
    text-align: left;
    margin-right: 70px;
}

.contenido-interno h2{
    font-weight: 900;
    font-size: 1rem;
    color: var(--Dark-blue);
}

.contenido-interno span{
    color: var(--Desaturated-blue);
}

.enlace-interno{
    color: var(--Bright-blue);
    font-weight: 700;
    margin-right: 15px;
}

.enlace-interno:hover{
    text-decoration: none;
}

.boton{
    width: 100%;
    border: none;
    background: none;
    font-family: var(--Red-Had);
    font-weight: 700;
    padding: 12px 24px;
    margin: 5px 0;
}

.boton-primario{
    background-color: var(--Bright-blue);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 19px 12px -3px rgba(161, 138, 224, 0.75);
    -webkit-box-shadow: 1px 19px 12px -3px rgba(161, 138, 224, 0.75);
}

.boton-primario:hover{
    cursor: pointer;
}

.boton-secundario{
    color: var(--Desaturated-blue);
    font-weight: 800;   
    margin-bottom: 13px;
}

.boton-secundario:hover{
    cursor: pointer;
    color: var(--Dark-blue);
}


  


